@model Proyecto_Sebet.Models.Graduate

@{
    ViewData["Title"] = "Create";
}

<h2>Crear Nueva Cuenta</h2>

<h4>Para Egresado</h4>
<hr />
        <form asp-action="Create" method="post">
            <div class="row" >
                <div class="col-sm-12 col-md-6 ">
                    <div class="form-group">
                        <input asp-for="Inscription" class="form-control" placeholder="Número de Boleta" required autofocus />
                    </div>
                    <div class="form-group">
                        <input asp-for="GraduateName" class="form-control" placeholder="Nombre(s)" required />
                    </div>
                    <div class="form-group">
                        <input asp-for="LastName" class="form-control" placeholder="Apellidos" required />
                    </div>
                    <div class="form-group">
                        <label>Selecciona tu carrera: </label>
                        <select asp-for="IdCareer" class="form-control" asp-items="ViewBag.IdCareer"></select>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" placeholder="Correo Elecronico" required />
                    </div>
                    <div class="form-group">
                        <input asp-for="PasswordG" class="form-control" placeholder="Contraseña" required />
                    </div>
                    <div class="form-group">
                        <input type="text" name="ComfirmPass" placeholder="Confirmar Contraseña" required class="form-control" />
                    </div>
                    <br />
                    <div class="form-group text-right">
                        <input type="submit" value="Create" class="btn btn-default btn-primary" />
                    </div>
                </div>
            </div>
        </form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
