@model Proyecto_Sebet.Models.Company

@{
    ViewData["Title"] = "Create";
}

<h2>Crear Nueva Cuenta</h2>

<h4>Para Empresa</h4>
<hr />
        <form asp-action="Create">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="RecluiterName" class="form-control"  placeholder="Nombre(s)" autofocus required/>
                    </div>
                    <div class="form-group">
                        <input asp-for="LastName" class="form-control"  placeholder="Apellidos" required/>
                    </div>
                    <div class="form-group">
                        <input asp-for="Rfc" class="form-control" placeholder="RFC Persona Moral" required/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <input asp-for="BusinessName" class="form-control" placeholder="Nombre / Razón Social" required />
                    </div>
                    <div class="form-group">
                        <label>Industria o Giro de la empresa:</label>
                        <select asp-for="IdIndustry" class="form-control" asp-items="ViewBag.IdIndustry"></select>
                    </div>
                    <div class="form-group">
                        <label>Forma Jurídica:</label>
                        <select asp-for="IdLegalForm" class="form-control" asp-items="ViewBag.IdLegalForm"></select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" required placeholder="Correo Electronico"/>
                    </div>
                    <div class="form-group">
                        <input asp-for="PasswordR" class="form-control" placeholder="Contraseña" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="ConfirmPass"  class="form-control" placeholder="Confirmar Contraseña" required/>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
