@{
    ViewData["Title"] = "SEBET";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container-fluid text-center py-3">
    @*<img src="Logo.jpg" width="130" height="130" align="left">*@
    <h1 class="display-1">Sistema Estudiantil de Bolsa de Trabajo</h1>
</div>

<div class="container-fluid bg-secondary py-2">
    <div class="container"><h2>¿QUE ES UNA BOLSA DE TRABAJO?</h2></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <p class="text-justify lead">Las bolsas de trabajo son el enlace entre las empresas y los candidatos, 
            ya que su servicio consiste en servir como medio para que las empresas den a conocer las ofertas de
            trabajo que tienen; por lo que estos espacios sirven para reunir tanto a empresas como a candidatos. 
            Las bolsas de trabajo son el enlace entre las empresas y los candidatos, ya que su servicio consiste
            en servir como medio para que las empresas den a conocer las ofertas de trabajo que tienen; por lo que 
            estos espacios sirven para reunir tanto a empresas como a candidatos.</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <p class="text-justify lead">Para poder realizar tu búsqueda en los diferentes portales de las bolsas 
            de trabajo, por lo regular, es necesario crear una cuenta en la plataforma de tu preferencia, darte 
            de alta con un nombre formal y proporcionar todos los datos necesarios (nombre, fecha de nacimiento,
            lugar de residencia, entre otros) y crear tu CV o subir un archivo del mismo.</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <p class="text-justify lead">Una de las dudas más recurrentes de las personas es si las bolsas de
            trabajo son las que contratan, y la respuesta es un rotundo no. Estas en realidad sirven como un 
            vínculo empresa-candidato y su función es la de publicar las ofertas de empleo que las empresas 
            tengan disponibles, por lo que éstas no intervienen en ningún punto del proceso de reclutamiento y selección.</p>
        </div>
    </div>
</div>

<div class="container-fluid bg-secondary py-2">
    <div class="container"><h1>SEBET ¿CUAL ES SU FUNCION?</h1></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <p class="text-justify lead">
                SEBET es una bolsa diseñada para los egresados del CECyT 13 para que cuando ellos concluyan sus estudios
                puedan empezar su vida laborar profesional en alguna empresa que sea de su agrado, de una forma segura y
                de que les sera muy facil encontrar un trabajo que se adapte a sus necesidades para que asi puedan trabajar
                y estudiar al mismo tiempo.
            </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <p class="text-justify lead">Una de las ideas principales de SEBET es que los egresados obtengan experiencia
            en el campo laboral en el que ellos estudiaron y se preparon durante los ultimos cuatro semestres en su
            estacia en la vocaional. Esto para que cuando lleguen a terminar sus estudios a nivel superior y quieran ejercer
            su carrera ya no tendran muchos problemas porque previamente obtuvieron experiencia en su campo. </p>
        </div>
    </div>
    <img src="escuela.jpg" width="375" height="250">
</div>

<div class="container-fluid bg-secondary py-2">
    <div class="container"><h1>VENTAJAS Y GANANCIAS</h1></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <p class="text-justify lead">Cada vez que estamos en busca de un trabajo se hacen ilusiones y pensamos
            que va a ser facil el conseguir un empleo ademas que todas las personas sueñan con un empleo que les
            paguen bien y que no trabajen tanto, lamentablemente esto no existe. Pero con la bolsa se puede llegar
            a algo similar, ya que los egresados podran buscar un empleo que este cerca de su casa o escuela y que
            ademas su horario no afecte en su escuela u otras actividades que tengan</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <p class="text-justify lead">En esta bolsa de trabajo se puede ganar mas de lo que uno puede imaginarse
            y no es algo en cuestion del dinero si no como ya lo mencionamos, se gana experiencia en el campo
            laboral profesional, con esto me refiero a que son trabajos totalmente que tienen relacion con las 
            carreras que ofrece el CECyT 13.</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="text-justify lead">Esta bolsa cuenta con test de conociemtos para que la empresa verifique
            que el solicitante este apto para dicho empleo, asi que la oprtunidad de estar en el empleo que quieras
            esta en tus manos.</p>
        </div>
    </div>
</div>

<div class="container-fluid bg-dark py-2 text-white">
    <h2>¿Quienes somos?</h2>
    <p>Somos un grupo de jovenes del CECyT 13:</p>
    <p>Eric Ivan Chávez Barbosa</p>
    <p>Rodrigo Rodriguez Samaniego</p>
    <p>Enrique Rodriguez Mendez</p>
    <p>Diego Silva Vazquez</p>
    <p>Saul Trejo Garcia</p>
</div>







@*<div class="row">
        <div class="col-md-3">
            <h2>Application uses</h2>
            <ul>
                <li>Sample pages using ASP.NET Core MVC</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Run &amp; Deploy</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
            </ul>
        </div>
    </div>*@
