<br />
<br />
<a asp-area="" asp-controller="Graduates" asp-action="Create" class="btn btn-info">Egresado</a>
<br />
<br />
<a asp-area="" asp-controller="Companies" asp-action="Create" class="btn btn-info">Empresa</a>
